@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    font-family: "Roboto", sans-serif;
}

.title {
    margin-bottom: 15px;
}

/* without this, the fields all expand
   when the MDC JavaScript is run. */
.mdc-text-field {
    margin-top: 16px;
}

#kc-header,
#kc-content {
    margin-left: auto;
    margin-right: auto;
}

#kc-header {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

#kc-header img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#kc-content {
    padding: 20px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14),
        0 3px 16px 2px rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#kc-reset-password-form #kc-form-options {
    float: left;
}

#kc-reset-password-form #kc-form-buttons {
    float: right;
}

#kc-register-form #kc-form-options {
    float: left;
}

#kc-register-form #kc-form-buttons {
    float: right;
}

.clearfix {
    float: none;
    clear: both;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
    #kc-content {
        width: 90%;
    }
}

@media (min-width: 769px) {
    #kc-content {
        width: 360px;
    }
}

.mdc-text-field--outlined {
    height: 41px;
    overflow: visible;
    margin: 12px 0px;
}

.mdc-text-field {
    width: 100%;
}

.fullwidth {
    width: 100%;
}

#kc-error-message p {
    margin: 0;
}

.remember-me-checkbox {
    float: left;
}

.register .register-field {
    margin-bottom: 15px;
}

.register .register-button-container {
    margin-top: 20px;
}

.reset-password .reset-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-button-container {
    margin-top: 20px;
}

.config-totp .config-totp-button-container {
    margin-top: 15px;
}

.totp .totp-button-container {
    margin-top: 15px;
}

.update-profile .update-profile-field {
    margin-top: 15px;
}

.update-profile .update-profile-button-container {
    margin-top: 20px;
}

#kc-locale .mdc-select {
    width: 100%;
}

#kc-locale .mdc-select .mdc-select__anchor {
    height: unset;
}

#kc-locale .mdc-select .mdc-select__anchor i.material-icons.mdc-select__icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

#kc-locale .mdc-select .mdc-list-item {
    height: 34px;
}

#kc-social-providers {
    text-align: center;
}

#kc-social-providers a {
    height: 56px;
    width: 56px;
    min-width: 56px !important;
    max-width: 56px !important;
    color: rgba(0, 0, 0, 0.54);
    margin: 0px 6px;
}

#kc-social-providers a i.material-icons.mdc-button__icon {
    margin-left: -8px;
    margin-right: -1px;
    display: inline-block;
    width: 43px;
    height: 49px;
    font-size: 50px !important;
    vertical-align: top;
}
