@use "@material/theme" with (
  $primary: #c6392f,
  $secondary: #514d6a,
  $on-primary: #fff,
  $on-secondary: #fff
);

@use "./material.scss";
@use "../keycloak-template/common-resources/css/bootstrap-material-design-alerts.scss";
@use "../keycloak-template/common-resources/css/material-keycloak-theme.scss";
@use "../keycloak-template/common-resources/css/custom.scss";
