@use "@material/theme" with (
  $primary: #005dac,
  $secondary: #514d6a,
  $on-primary: #fff,
  $on-secondary: #fff
);

$primaryColor: #005dac;
$secondaryColor: #514d6a;

@import "./material.scss";
@import "../keycloak-template/common-resources/css/bootstrap-material-design-alerts.scss";
@import "../keycloak-template/common-resources/css/material-keycloak-theme.scss";
@import "../keycloak-template/common-resources/css/custom.scss";
