body{
    background-color: #c6392f;
    font-family: 'PT Sans', sans-serif;
}
.form-textbox {
  margin-bottom: 20px;
}
.form-r-link {
  margin-bottom: 10px;
  text-align: right;
  display: inline-block;
}
.kc-social-providers {
  margin-bottom: 20px;
}
.kc-info-wrapper {
  margin-bottom: 15px;
}
